body, html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Iosevka Web'
}

.container {
    min-height: 100vh;
    background-color: #0F1A26;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 4rem;
}
